/* Reset di base per garantire coerenza tra i browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #080a18;
    padding: 10px;
}

/* Stili per la navbar */
.navbar {
    background-color: #3ecf93;
    overflow: hidden;
    position: relative;
}

.nav-list {
    list-style: none;
    text-align: center;
    padding: 0;
}

.nav-list li {
    display: inline-block;
    margin-right: 10px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    display: block;
}

.nav-list li a img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

/* Stili per il contenuto principale */
main {
    padding: 20px;
    background-color: #1089eb;
}

section {
    margin-bottom: 20px;
}

.faq-question {
    background-color: #0916a7;
    color: rgb(25, 187, 228);
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color:#11d9e0;
}

.faq-answer {
    padding: 15px;
    background-color: #2913f3;
    display: none;
    border: 1px solid #854fe9;
}

/* Stili per il footer */
footer {
    background-color: #0cfaee;
    color: rgb(14, 12, 12);
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 10px 0;
}

#hero {
    background: url('non_sprego.jpg') no-repeat center center/cover;
    height: 100vh; /* Imposta l'altezza della sezione al 100% dell'altezza del viewport */
    width: 100%; /* Assicura che la sezione si estenda per tutta la larghezza dello schermo */
}




/* Responsive */
@media (max-width: 768px) {
    .nav-list li {
        display: block;
        text-align: left;
    }

    .nav-list li a {
        padding: 10px;
    }

    footer {
        position: relative;
    }
}

@media (max-width: 480px) {
    .nav-list li {
        margin-right: 0;
    }

    .nav-list li a {
        padding: 10px 5px;
    }
}
